<mat-toolbar id="main-toolbar" color="primary">
  <mat-toolbar-row>
    <a id="main-toolbar-title" href="#video-anchor">Popup Games</a>
    <span id="main-toolbar-buttons">
      <a mat-button id="main-toolbar-about-button" href="#about-anchor">About</a>
      <a mat-button id="main-toolbar-features-button" href="#features-anchor">Features</a>
      <a mat-button id="main-toolbar-team-button" href="#team-information-anchor">Team</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div id="main-toolbar-spacer"></div>
