<a id="about-anchor" class="anchor"></a>
<div id="about-section" class="content-section">
  <h1 class="mat-title">What is Popup Games?</h1>
  <div class="content-section-content">
    <span class="description-box mat-body-1">
      <p>
        Students often find it difficult not only to find pickup games, but also to find participants for their own
        pickup games. It can be difficult as well, for students to find players for games outside of their regular
        social group.
      </p>
      <p>
        The solution to this problem is Popup Games, an Android and mobile application that allows users to create and
        join pickup games on the campus of Georgia Tech.
      </p>
    </span>
    <span class="screen-shots-box">
      <img src="assets/screenshot.png" />
    </span>
  </div>
</div>
