<a id="video-anchor" class="anchor"></a>
<mat-toolbar id="video-section" color="primary">
  <mat-toolbar-row>
    <span id="video-section-video">
      <iframe appVideo src="https://www.youtube.com/embed/GObVXKPh97A" frameborder="0" allow="encrypted-media"
              allowfullscreen>
      </iframe>
    </span>
    <span id="video-section-welcome-content">
      <div id="video-section-welcome-sentences">
        Welcome to Popup Games, the app that let's you host and join games, sports, and events anywhere on the Georgia
        Tech campus!
      </div>
      <div>
        <a mat-raised-button id="video-section-download-button" color="accent">Download Android App</a>
        <a mat-raised-button id="video-section-web-app-button" href="https://matthewkohlhaas.github.io/PopupGamesApp/"
           color="accent">
          Use Web Version
        </a>
      </div>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
